apiVersion: v1
kind: ConfigMap
metadata:
  name: APP_NAME-config
  namespace: ${K8S_NAMESPACE:-production}
data:
  ENVIRONMENT: "production"
  LOG_LEVEL: "info"
  POSTGRES_SERVER: "postgres"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "app"
  POSTGRES_USER: "postgres"
  REDIS_URL: "redis://redis:6379/0"
